.historyContainer {
  width: 20rem;
  height: 46rem;
  background-color: #f0f0f0;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.historyResult {
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: 1px solid #878787;
  cursor: pointer;
}

.clearHistoryBtn {
  width: 100%;
  height: 2rem;
  background-color: #f0f0f0;
  border: 1px solid #878787;
  border-radius: 5px;
  cursor: pointer;
}
